<html>
<title>Anagram Mania</title>
<head>
<h3>Anagram Mania</h3>
<head>
<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen">
</head>
<body>
<table width="100%" align="centre" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<form action="/" method="POST">
	<td>Search for the Anagram of a word: <input type="text" name="anagram" id="anagram"><input type="submit" name="submit" value="Lookup"></td>
</form>
</tr></td>
<tr><td></td></tr>
</table>
<br>
<% if @anagrams %>

<table width="80%">
<tr><th align="left">Word</th><th align="left">Anagrams</th></tr>
 <% @anagrams.each do |word| %>
   <tr>
      <td><%= word[0] %></td><td><%= word[1] %></td>
   </tr>
 <% end %>
</table>
<br>
<table width="80%">
<tr><th align="left">Word Jumble</th><th align="left">Word</th></tr>
 <% @wordjumble.each do |word| %>
   <tr>
      <td><%= word[0] %></td><td><%= word[1] %></td>
   </tr>
 <% end %>
</table>

<% end %>

</body>
</html>
